*{ margin:0;
  padding:0;
}
.header{
    display:flex;
    width:100%;
    height:15%;
    background-color:green;
  }
.logo{
   width:25%;
   background-color:pink;
  }
 .logo a{
   width:100%;
   height:100%;
   display:flex;
   justify-content:center;
   
 }

 .img{
   width:auto;
   height:auto;
 }
.menu{
  width:75%;
  background-color:blue;
  display:flex;
  }
 .navbar{
  hright:100%;
  width:100%;
  dislay:flex;
   
  }
 .navbar ul {
  display:flex;
   align-items:center;
  justify-content:space-around;
  width:100%;
  height:100%;
  
}
.navbar ul li{
  list-style:none;
  padding-bottom:3.5%; 

}
 .navbar ul li a{
   color:black;
   font-size:1vw;
   text-decoration:none;
   position:absolute;
}
.menu .navbar ul li.submenu{
  display:none;
  width:20%;
  border:2px solid black;
  background-color:red;
  z-index:1;
  position:absolute;
  }
.menu .navbar ul li.submenu li{
  list-style:none;
  width:100%;
  height:100%;
}
.menu .navbar ul li.submenu li a{
  text-decoration:none;
  color:black;
  position:relative;
  font-size:1vw;
  display:block;
  
}
.menu .navbar ul li:hover .submenu{
  display:block;
}
