*{
  margin:0;
  padding:0;
}
.header{
    width:100%;
    height:15%;
    background-color:green;
  }
.logo{
   width:25%;
   background-color:pink;
  
}
.menu{
  width:75%;
  background-color:blue;
  
}
