  margin:0;
  padding:0;
}
.header{
    display:flex;
    width:100%;
    height:15%;
    background-color:green;
  }
.logo{
   width:25%;
   background-color:pink;
  }
 .logo a{
   width:100%;
   height:100%;
   display:flex;
   justify-content:center;
   
 }

 .img{
   width:auto;
   height:auto;
 }
.menu{
  width:75%;
  background-color:blue;
  display:flex;
  }
.menu .navbar{
  display:flex;
  width:100%;

  }
.menu .navbar ul {
  display:flex;

  justify-content:space-around;
  width:100%;
  height:100%;
  
}
.menu .navbar ul li{
  list-style:none;
   

}
.munu .navbar ul li a{
  color:black;
   font-size:1vw;
 text-decoration:none;
  
}
