*{ margin:0;
  padding:0;
}
.header{
    display:flex;
    width:100%;
    height:15%;
    background-color:green;
  }
.logo{
   width:25%;
   background-color:pink;
  }
 .logo a{
   width:100%;
   height:100%;
   display:flex;
   justify-content:center;
   
 }

 .img{
   width:auto;
   height:auto;
 }
.menu{
  width:75%;
  background-color:blue;
  display:flex;
  }
 .navbar{
  hright:100%;
  width:100%;
  dislay:flex;
   
  }
 .navbar ul {
  display:flex;
   align-items:center;
  justify-content:space-around;
  width:100%;
  height:100%;
  
}
.navbar ul li{
  list-style:none;
  padding-bottom:3.5%; 

}
 .navbar ul li a{
   color:black;
   font-size:1vw;
   text-decoration:none;
   position:absolute;
}
 


 .menu .menubar ul li .submenu {
  display: none;
  position: absolute;
  top:10%;
  background: magenta;
  border: 1px solid black;
  width: 120px;
  height: auto;
  flex-direction:column;
  padding:5px 0;
  z-index: 10;
}

.menu .menubar ul li .submenu li{
  padding:8px;
  list-style:none;
  padding-bottom: 20%;
}

.menu .menubar ul li .submenu li a{
    font-size:16px;
    color: white;
}

.menu .menubar ul li:hover .submenu {
  display: block;
}

.menu .menubar ul .underline_current > a {
    text-decoration: underline;
    text-decoration-color: red;
}

